<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="Final_project.Properties.Settings.UNDB01ConnectionString" connectionString="Data Source=localhost;Initial Catalog=UNDB01;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Model1" connectionString="data source=localhost;initial catalog=UNDB01;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="MyDbContext" connectionString="data source=localhost;initial catalog=UNDB01;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>